# Copyright (c) 2025 Stefan Sundin (4pplet)
# SPDX-License-Identifier: MIT

if BOARD_WHKB_PRO3

config ZMK_KEYBOARD_NAME
    default "WHKB Pro3"

config USB_DEVICE_VID
    default 0x4444

config USB_DEVICE_PID
    default 0x0031

config USB_DEVICE_MANUFACTURER
    default "4pplet"

config BT_CTLR
    default BT

config ZMK_BLE
    default y

config ZMK_USB
    default y

endif # BOARD_WHKB_PRO3
